@charset "utf-8";

body {
    font-size: 20px;
    letter-spacing: -1px;
    font-family:'Helvetica Neue',sans-serif;
}

#button {
    background:#25A6E1;
    background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:24px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9
}

#textfield {
    padding: 5px;
    height: 30px;
    width: 250px;
    border:#000 solid medium;
    font-size:20px;
    text-align: center;
}

.cuadro{
    background-color: #FFC;
    border: medium solid #666;
    padding: 15px;
}

.error {
    color: #900;
    font-weight: bold;
}

#mapa{
    height: 400px;
    width: 100%;
}
